<div class="container">
    <form>
        <mat-form-field appearance="fill">
            <mat-label>Deignation</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Type</mat-label>
            <mat-select>
                <mat-option value="Machine">Machine</mat-option>
                <mat-option value="Insecticides">Insecticides</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Brand</mat-label>
            <mat-select>
                <mat-option value="ALAIN">ALAIN</mat-option>
                <mat-option value="EJJDH3">EJJDH3</mat-option>
                <mat-option value="DDT">DDT</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Price</mat-label>
            <input matInput>
        </mat-form-field>
    </form>
</div>
