<app-nav-bar></app-nav-bar>
<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <p>Auto-resizing sidenav</p>
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
    </mat-drawer>

    <div class="sidenav-content">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-drawer-container>
<app-footer></app-footer>